<div class="post-details">
    <div class="post-body">


        <div class="user-info">
            <span class="tag">
                ÜYE
            </span>
            <img src="assets/avatar.svg" alt="" class="avatar">
            <h5>Ömer Temel</h5>
            <a href="user/omer">@omertemel</a>
        </div>


        <div class="post">
            <div class="post-info">
                <h6>6 dakika önce</h6>
                <h6 class="active">Konu açık</h6>
                <h6 class="deactive">Konu Kapalı</h6>
            </div>

            <h5 class="title">Ryzen 5 3600 mü Ryzen 5 5500 mü daha iyi ???</h5>
            <p class="content">Rx560 ekran kartım biostar a320m anakartım var. Ryzen 5 5500 mü Ryzen 5 3600 mü alsam
                daha iyi olur.
                Fiyatları hemen hemen aynı fakar 3600 32mb önbellek iken 5500 16mb önbellek genel olarak oyun oynayan
                biriyim önbelleği çok sorun etmeme gerek var mı? Ya da ne işe yarar bu önbellek. Şimdiden teşekkür
                ederim 
            </p>
            <button class="reply-button">Yanıtla</button>
        </div>


    </div>
    

    <hr>
    
    <div class="post-messages">
        
        <app-post-message />
        <app-post-message />
        <app-post-message />

        
    </div>
</div>