<div class="post-details">

    <div *ngIf="dataLoaded==false" class="spinner-border text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div *ngIf="dataLoaded==true" class="post-body">

        <div class="user-info">
            <span class="tag" [ngStyle]="{'background-color': color}">
                {{post.user.rank.name}}
            </span>
            <img src="assets/avatar.svg" alt="" class="avatar">
            <h5>{{post.user.fullname}}</h5>
            <a routerLink="/user/{{post.user.username}}">@{{post.user.username}}</a>
        </div>


        <div class="post">
            <div class="post-info">
                <h6>{{post.createdDate | timeago}}</h6>
                <h6 *ngIf="post.isActive" class="active">Konu açık</h6>
                <h6 *ngIf="!post.isActive" class="deactive">Konu Kapalı</h6>
            </div>

            <h5 class="title">{{post.title}}</h5>
            <p class="content"> {{post.description}}</p>
            <button class="reply-button">Yanıtla</button>
        </div>


    </div>


    <hr>


    <div *ngIf="messagesDataLoaded==false" class="spinner-border text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div *ngIf="messagesDataLoaded==true" class="post-messages">

        <app-post-message *ngFor="let message of messages" [message]="message"/>

    </div>
</div>