<div class="new-post">
    <div class="head">
        <img src="assets/add-post.svg" alt="icon" class="icon">
        <p class="title">
            YENİ KONU
        </p>
    </div>
    <br>
    <div class="body">
        <form [formGroup]="postAddForm">

            <input type="text" id="title" formControlName="title" placeholder="Konu başlığı"><br>
            
            
            <div *ngIf="categoryDataLoaded==false" class="spinner-border text-danger" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <select *ngIf="categoryDataLoaded==true" name="category" id="category" formControlName="categoryId" [(ngModel)]="selectedCategory" (change)="getSubCategory()">
                <option value="null" disabled>Kategori</option>
                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                
            </select>

            <div *ngIf="subCategoryDataLoaded==false" class="spinner-border text-danger" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <select *ngIf="subCategoryDataLoaded==true" name="subCategory" id="subCategory" formControlName="subCategoryId">
                <option value=null disabled selected>Alt Kategori</option>
                <option *ngFor="let subcategory of subCategories" [value]="subcategory.id">{{subcategory.name}}</option>
            </select> <br>
            <textarea id="content" formControlName="content" placeholder="Konu başlığı"></textarea><br>
            <button id="add-post-button" type="submit" (click)="add()">Ekle</button>
        </form>


    </div>

</div>