.home {
    display: flex;
}

.last-posts {
    margin-top: 80px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .25);
    border-radius: 15px;
    width: 80%;
    height: 700px;
    overflow: scroll;

    .head {
        padding: 20px;
    }

    .icon {
        float: left;
    }

    .title {
        float: left;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        margin-left: 10px;
        color: #6F6C6C;
    }
}


.right-side {
    text-align: center;
    margin-top: 80px;


    button {
        margin-top: 10px;
        margin-left: 25px;
        width: 170px;
        height: 40px;
        border: none;
        background-color: #F3705A;
        color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        transition: .2s;
    }
}





.statistics {
    box-shadow: 0 0 10px rgb(0, 0, 0, .25);
    border-radius: 15px;
    width: 220px;
    height: 150px;
    margin-top: 20px;
    margin-left: 30px;

    img {
        float: left;
        margin-left: 17px;
        margin-top: 15px;
    }

}

.statistics-title {
    float: left;
    margin-left: 13px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
    color: #6F6C6C;
}

.statistics-left{
    float: left;
    text-align: left;
    margin-left: 17px;
    margin-top: 15px;
    color: #6F6A6A;
}
.statistics-right{
    float: left;
    text-align: left;
    margin-left: 17px;
    margin-top: 15px;
}



::-webkit-scrollbar {
    display: none;
}
