<div class="container">

    <div class="home">
        <!-- Export Component -->
        <div class="last-posts">
            <div class="head">
                <img src="assets/last-post.svg" alt="icon" class="icon">
                <p class="title">
                    SON KONULAR
                </p>
            </div>
            <div class="body">
                <br>
                <app-post />
                <app-post />
                <app-post />
                <app-post />
                <app-post />
                
            </div>
        </div>
    
        <!-- Export Component -->
        <div class="right-side">
            <button>Yeni konu aç</button>
        </div>
    </div>

</div>