<div class="container">

    <div class="home">
        <!-- Export Component -->
        <div class="last-posts">
            <div class="head">
                <img src="assets/last-post.svg" alt="icon" class="icon">
                <p class="title">
                    SON KONULAR
                </p>
            </div>
            <div>
                <br>
                <div *ngIf="dataLoaded==false" class="spinner-border text-danger" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div *ngIf="dataLoaded==true">
                    <app-post *ngFor="let post of posts" [post]="post"/>
                </div>


            </div>
        </div>

        <!-- Export Component -->
        <div class="right-side">
            <button>Yeni konu aç</button>
            <div class="statistics">
                <img src="assets/statistics.svg">
                <h6 class="statistics-title">Forum istatistikleri</h6>
                <div class="statistics-left">
                    <h6>Konular:</h6>
                    <h6>Mesajlar:</h6>
                    <h6>Üyeler:</h6>
                </div>
                <div class="statistics-right">
                    <h6>46,798</h6>
                    <h6>367,339</h6>
                    <h6>35,960</h6>
                </div>
            </div>
        </div>
    </div>

</div>