
.post {
    position: relative;
    width: 90%;
    height: 90px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin: 25px auto;

    .avatar {
        float: left;
        margin-top: 18px;
        margin-left: 16px;
        width: 53px;
        border-radius: 100%;
    }

    .tag {
        position: absolute;
        top: 12px;
        right: 18px;
        width: 24px;
    }

    a{
        color: #000;
        text-decoration: none;
    }
}

.post-title {
    position: relative;
    top: 18px;
    left: 40px;
    font-size: 18px;
}

.post-info {
    position: relative;
    display: flex;
    top: 20px;
    left: 40px;
    color: #6F6A6A;
}

.active {
    margin-left: 30px;
}

.active::before{
    content: '';
    display: inline-block;
    background: #00BD08;
    margin-right: 5px;
    width: 9px;
    height: 9px;
    border-radius: 9px;
}
.deactive {
    margin-left: 30px;
}

.deactive::before{
    content: '';
    display: inline-block;
    background: #db2800;
    margin-right: 5px;
    width: 9px;
    height: 9px;
    border-radius: 9px;
}