<div class="post">
    <a routerLink="/post/{{post.postId}}">
        <img *ngIf="!post.user.image" class="avatar" src="assets/avatar.svg">
        <img *ngIf="post.user.image" class="avatar" src="assets/avatar.jpg">
        <h5 class="post-title">{{post.title}}</h5>
        <div class="post-info">
            <h6>{{post.createdDate | timeago}}</h6>
            <h6 *ngIf="post.isActive" class="active">Konu açık</h6>
            <h6 *ngIf="!post.isActive" class="deactive">Konu Kapalı</h6>
        </div>
        <img class="tag" src="assets/help.svg">
    </a>
</div>